/* NAV BAR START */

/* Dashboard font */
.noto-sans-display-h1 {
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.5rem;
}
/* Account Name font */
.noto-sans-display-h3 {
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1rem;
}
/* Page Name nav bar font */
.noto-sans-display-page {
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1rem;
}
.noto-sans-display-blocks {
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1rem;
}

body {
  background-color: #17153b;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;

  /* width: 100vw; */
  width: calc(100vw - 1rem - 1.5rem);
  /* max-width: 100vw; */
  height: calc(100vh - 1rem);

  margin: 0.5rem;
  /* padding: 0px; */
  /* padding: 5px; */
  gap: 1.5rem;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* align-self: center; */

  margin-top: auto;
  margin-bottom: auto;

  /* margin: 1.2rem; */
  /* padding: 5rem; */

  background-color: #433d8b;
  width: 15rem;
  height: 100%;
  border-radius: 1rem;
}

.pagename {
  display: flex;
  flex-direction: column;

  width: 90%;
  gap: 1.2rem;
  /* margin-left: 0; */
  /* margin-right: 0; */
}
.dashname {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #3e3e75;
  background: linear-gradient(to right, #c5b3d3, #c17fea);
  width: 90%;
  height: 10%;
  border-radius: 1rem;

  margin: 5%;
}

.page1,
.page2,
.page3 {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: rgba(218, 201, 218, 0.94);
  width: 90%;
  height: 33%;
  border-radius: 1rem;

  margin: auto;
}

.accountname {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #3e3e75;
  background: linear-gradient(to right, #c5b3d3, #c17fea);
  width: 90%;
  height: 8%;
  border-radius: 1rem;
  margin: 5%;
}

/* NAV BAR END */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  /* height: calc(100vh - 3rem); */
  height: 100%;
  /* height: 99vh; */

  /* max-height: 100%; */
  /* min-height: 90%; */
  gap: auto;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 3rem;

  background-color: #f7f6f8;
  border-radius: 1rem;
}

/* .top_header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  margin: 10px;
} */

.blocks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
  margin: 5px;
  gap: auto;
}

.block1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  flex: 0 0 calc(30% - (1rem / 2));
  box-sizing: border-box;

  background-color: #433d8b;
  /* width: 90%; */
  width: 23rem;
  height: 45%;
  border-radius: 1rem;

  /* margin: auto; */
  margin: 1rem;
  padding: 1rem;
}

.block2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  flex: 0 0 calc(30% - (1rem / 2));
  box-sizing: border-box;

  background-color: #433d8b;
  /* width: 90%; */
  width: 23rem;
  height: 45%;
  border-radius: 1rem;

  margin: 1rem;
  padding: 1rem;
}

.block3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  flex: 0 0 calc(30% - (1rem / 2));
  box-sizing: border-box;

  background-color: #433d8b;
  /* width: 90%; */
  width: 23rem;
  height: 45%;
  border-radius: 1rem;

  margin: 1rem;
  padding: 1rem;
}

.block4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  flex: 0 0 calc(100% - (1rem / 2));
  box-sizing: border-box;

  background-color: #433d8b;
  width: 90%;
  width: 23rem;
  height: 45%;
  border-radius: 1rem;

  margin: 1rem;
  padding: 0.5rem;
  gap: 1rem;
}

.block1-title,
.block2-title,
.block3-title,
.block4-title {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #c8acd6;
  width: 95%;
  height: 20%;
  border-radius: 1rem;
}

.block1-content,
.block2-content,
.block3-content {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #c8acd6;
  width: 95%;
  height: 70%;
  border-radius: 1rem;
}

.block4-content {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #c8acd6;
  /* width: auto;
  height: auto; */
  width: 95% !important;
  height: 70% !important;
  border-radius: 1rem;

  border-style: 2px solid red;
}
